{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var my_url = "{{=URL('api', 'my_method')}}";
</script>
{{end}}

<div class="main_content">

    <div id="vue-div" class="display:none">
        <!-- Your code goes here.  Remember to call $("#vue-div").show() once you get the data for the first time. -->
        
        <!-- form to add a memo -->
        <div v-if="isAddingMemo" id=addMemoForm>
            <textarea placeholder="add memo"></textarea>
        </div>


        <div id="add_btn">
            <button v-on:click="addPostButton">Add</button>
            <!-- <a class="btn rounded" href=""> -->
                <!-- <i class="fa fa-plus"></i> -->
                <!-- ADD -->
            <!-- </a> -->
            <!-- <textarea placeholder="add memo"></textarea> -->
        </div>

        <div class="memo">
            <div class="memo_text">
                
            </div>
            <div>
                <div class="button_list">
                    <div class="buttons">
                        <a class="btn_null rounded black disabled" >
                            <i class="fa fa-edit fa-lg"></i>
                        </a>
                    
                        <a class="btn_null rounded black disabled" >
                            <i class="fa fa-users"></i>    
                        <a class="btn_null rounded black disabled">
                            <i class="fa fa-user"></i>
                  
                        <a class="btn_null rounded red black disabled">
                            <i class="fa fa-trash fa-lg"></i>

                    </div>
                </div>
            </div>
    
    
    
    
    
    </div>

</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
