{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var my_url = "{{=URL('api', 'my_method')}}";
    var addMemo_url = "{{URL('api', 'addMemo_url', user_signature=True)}}";
</script>
{{end}}

<div class="main_content">


    <div id="vue-div" class="display:none">
        <!-- Your code goes here.  Remember to call $("#vue-div").show() once you get the data for the first time. -->
        
        <!-- form to add a memo -->
        <!-- <div v-if="isAddingMemo" id=addMemoForm> -->
        <!--     <textarea v-model="title" placeholder="title"></textarea> -->
        <!--     <textarea v-model="text" placeholder="memo text"></textarea> -->
        <!--     <button v-on:click="cancelAddButton">Cancel</button> -->
        <!--     <button>Post</button> -->
        <!-- </div> -->


        <div v-if="isAddingMemo" id="addMemoForm">
            <form action="#" v-on:submit.prevent class="form-horizontal" enctype="multipart/form-data" method="post">
                <div class="form-group" id="title_row">
                    <div>
                        <input class="form-control string" id="title" v-model="form_title" placeholder="title" type="text" />
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="form-group" id="text_row">
                    <div>
                        <input class="orm-control string" id="text" name="album" type="text" v-model="form_text" placeholder="text"/>
                        <span class="help-block"></span>
                    </div>
                </div>
                
                <button v-on:click="cancelAddButton">Cancel</button>
                <button v-on:click="addMemo">Post</button>
            </form>
        </div>
        
        <div v-if="!isAddingMemo" id="add_btn">
            <button v-on:click="addMemoButton">Add</button>
            <!-- <a class="btn rounded" href=""> -->
                <!-- <i class="fa fa-plus"></i> -->
                <!-- ADD -->
            <!-- </a> -->
            <!-- <textarea placeholder="add memo"></textarea> -->
        </div>

        <div class="memo">
            <div class="memo_text">
                
            </div>
            <div>
                <div class="button_list">
                    <div class="buttons">
                        <a class="btn_null rounded black disabled" >
                            <i class="fa fa-edit fa-lg"></i>
                        </a>
                    
                        <a class="btn_null rounded black disabled" >
                            <i class="fa fa-users"></i>    
                        <a class="btn_null rounded black disabled">
                            <i class="fa fa-user"></i>
                  
                        <a class="btn_null rounded red black disabled">
                            <i class="fa fa-trash fa-lg"></i>

                    </div>
                </div>
            </div>
    
    
    
    
    
    </div>

  <!-- Here goes your main HTML code. -->


</div>

